*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
    background-color: white;
}

.container{
 
    display: flex;
    margin: auto;
    background-color: rgba(20, 18, 18, 0.658);
    padding: 20px;
}

/*TITULO .*/
.container h2{
    margin: auto;
    color: white;
    font-family: Elsie;
    font-size: 32px;
    margin-bottom: -10px;
    margin-right: 28%;
}

.menu {
    display: flex;
    align-items: end;
} 

.menu ul li a {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: white;

}
nav ul {
 display: flex;
 padding: 14px;
 gap: 20px;  
 list-style: none;
 margin-bottom: -17px;
}

.menu ul li :hover{
  text-decoration:underline;
  color:white;
}

.nosotros{
   display: flex;
   padding: 5%;
   align-items: start;
   /* background: url(/Restaurante/imagenes/nosotros\ imagen.jpg);/* fixed; SE QUEDA FIJO LA IMAGEN*/ 
}

.nosotros h2{
  position: absolute;
  font-size: 30px;
  font-weight: 620;
}

.parrafo{
  padding: auto;
  text-align:justify;
  margin-left:30%;
}  


/*CAROSEL IMAGEN*/

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
    
}
  
.carousel-container {
  display: flex;
  width: 300%; /* 3 imágenes, cada una con un ancho del 100% */
}

.carousel img {
  width: 18%; /* Ancho de cada imagen */
  height: auto;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-size: 20px;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.menu-text{
  display: inline-block;
  text-align: center;
  padding: 6rem;
  margin: auto; 
  width: 100%;
  height: auto;
}


.menu-text h2{
  font-size: 30px;
  justify-content: center;
}

.menu-text p{
  display: flex;
  padding: auto;
  margin: 20px;
}

/*BOTONES DEL MENU . */

.buttons{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: auto;
  padding: 30px;
}


.Picadas{ 
  color: black;
  text-decoration: none;
  border-radius: 10px;
  width: 110px;
  height: 30px;
  border-color: red;
}

.Picadas:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}

.img-menus {
  display: flex;
  height: 61%;
}
.img-menus img{
  flex-basis: 20%; /*Que se ocupe el 20% del acncho del contenedor*/
  align-items: center;
  width: 15%;
}

.img-menus h4,p {
  display: flex;
  align-items: end;
}

.text-events{
  margin: 20px;
  color: rgb(0, 0, 0);
  font-size: 26px;

}


.containerr {
  display: flex;
  flex-wrap: wrap;
  padding: 10em;
  width: 100%; /* Ajusta el ancho según tus necesidades */
  margin: auto;

}

.row {
  display: flex;
}

.cell img {
  padding: 6px;
  width: 100%;
  height: auto;
  transition: transform 0.3s; /* Para animar el efecto hover */
}

.cell:hover img {
  transform: scale(1.1); /* Ajusta el valor según el efecto que desees */
}

footer {
  padding: 2em;
  /* ... estilos previos ... */
  display: flex;
  border-top: 1px solid #ccc;
  font-size: 14px;
 justify-content: space-between;
}

footer ul  {
  display: flex;
  list-style: none;
  padding: 10px;
  gap: 20px;
 
}